@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "1Vazir";
  src: url("./assets/Fonts/Vazir.eot");
  src: url("./assets/Fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("./assets/Fonts/Vazir.woff2") format("woff2"),
    url("./assets/Fonts/Vazir.woff") format("woff"),
    url("./assets/Fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  direction: rtl;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
  font-family: "1Vazir";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
